.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zIndexModal);
  display: none;
  background-color: var(--overlay);
  overflow-y: auto;

  @media (max-width: 1080px) {
    display: block;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--sixteenPixels);
  padding: var(--sixteenPixels);
  background-color: var(--themeOne);

  &.fillContent {
    height: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: var(--twelvePixels);
}

.title {
  flex: 1;
}
