:root {
  color-scheme: dark light;

  --debug: red solid 1px;

  --transition: 0.1s ease-in;

  --text: #e8e8ff;
  --textButton: #ffffff;

  --themeOne: #2b2a32;
  --themeTwo: #2f2e37;
  --themeThree: #32313a;
  --themeFour: #353441;
  --themeFive: #3b3a4a;
  --themeSix: #444158;
  --themeSeven: #4c4963;
  --themeEight: #6b6980;
  --themeNine: #8884a6;
  --themeTen: #a6a1ce;

  --primary: #5e94d4;
  --primaryHover: #4184d4;

  --hpLow: #db618d;
  --hpModerate: #d8b968;
  --hpHigh: #5bbd7d;
  --hpExcellent: #56bab4;

  --pending: #a3b4c2;
  --success: #49b28c;
  --failure: #d56363;
  --warning: #e4a427;

  --monthly: #cbb97a;
  --need: #61b45a;
  --planned: #a98aff;
  --impulse: #d7873d;
  --regret: #e780be;

  --shadowOne: 0px 8px 16px 0px #27262f;

  --overlay: rgba(0, 0, 0, 0.7);
  --shadowOverlay: 0px 8px 16px 0px #000000;

  --fourPixels: 0.25rem;
  --sixPixels: 0.375rem;
  --eightPixels: 0.5rem;
  --tenPixels: 0.625rem;
  --twelvePixels: 0.75rem;
  --fourteenPixels: 0.875rem;
  --sixteenPixels: 1rem;
  --eighteenPixels: 1.125rem;
  --twentyPixels: 1.25rem;
  --twentyTwoPixels: 1.375rem;
  --twentyFourPixels: 1.5rem;
  --twentySixPixels: 1.625rem;
  --twentyEightPixels: 1.75rem;
  --thirtyPixels: 1.875rem;
  --thirtyTwoPixels: 2rem;
  --thirtyFourPixels: 2.125rem;
  --thirtySixPixels: 2.25rem;
  --thirtyEightPixels: 2.375rem;
  --fortyPixels: 2.5rem;
  --fortyTwoPixels: 2.625rem;
  --fortyFourPixels: 2.75rem;
  --fortySixPixels: 2.875rem;
  --fortyEightPixels: 3rem;
  --twoHundredSixtyPixels: 16.25rem;
  --fourHundredPixels: 25rem;
  --fiveHundredPixels: 31.25rem;
  --sixHundredPixels: 37.5rem;
  --thousandPixels: 62.5rem;

  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --extraBold: 800;
  --black: 900;

  --zIndexModal: 9;
  --zIndexLoading: 10;
}

#root,
#__next {
  isolation: isolate;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  color: var(--text);
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: var(--themeOne);
}

body {
  font-size: var(--fourteenPixels);
  font-weight: var(--medium);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* body {
  transition: 0.1s ease-in;
} */

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  color: var(--text);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  transition: var(--transition);
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Sets theme based on user's system theme setting. */
@media (prefers-color-scheme: light) {
  :root {
    --text: #6160a4;

    --themeOne: #f5f5f9;
    --themeTwo: #f1effb;
    --themeThree: #e6e3f7;
    --themeFour: #e3e0f7;
    --themeFive: #e0ddf6;
    --themeSix: #d9d6f5;
    --themeSeven: #ccc8ef;
    --themeEight: #aba4e1;
    --themeNine: #948ed4;
    --themeTen: #8381ca;

    --primary: #1e6dca;
    --primaryHover: #155aaa;

    --hpLow: #ff689e;
    --hpModerate: #f3b004;
    --hpHigh: #0ed552;
    --hpExcellent: #19dace;

    --pending: #46759d;
    --success: #23de9b;
    --failure: #f34747;
    --warning: #f4bf58;

    --monthly: #e0b61f;
    --need: #4ec025;
    --planned: #8760f7;
    --impulse: #e77b18;
    --regret: #ce3574;

    --shadowOne: 0px 8px 16px 0px #e6e4f7;
  }
}
