.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--sixteenPixels);
  padding: var(--sixteenPixels);
  width: 100%;
  max-width: var(--sixHundredPixels);
  border-radius: var(--sixPixels);

  border: var(--debug);
}
