.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--sixteenPixels);
  padding: var(--sixteenPixels);
  width: 100%;
  max-width: var(--sixHundredPixels);
  height: 100%;
  max-height: 90dvh;
  border-radius: var(--sixPixels);
}

.highlight {
  color: var(--primary);
  font-weight: var(--bold);
}

.textBody {
  display: flex;
  flex-direction: column;
  gap: var(--fourPixels);
}
