.responsiveSidePadding {
  padding-right: var(--sixteenPixels);
  padding-left: var(--sixteenPixels);

  /* Tablet */
  @media (max-width: 1024px) {
    padding-right: var(--fourteenPixels);
    padding-left: var(--fourteenPixels);
  }

  /* Mobile */
  @media (max-width: 500px) {
    padding-right: var(--twelvePixels);
    padding-left: var(--twelvePixels);
  }
}

.titleText {
  font-size: var(--eighteenPixels);
  font-weight: var(--extraBold);
}

.semiTitleText {
  font-size: var(--sixteenPixels);
  font-weight: var(--bold);
}

.caption {
  font-size: var(--twelvePixels);
  font-weight: var(--medium);
}

.captionEmphasis {
  font-size: var(--twelvePixels);
  font-weight: var(--bold);
}

.primaryLink {
  color: var(--primary);
  font-weight: var(--bold);
  transition: var(--transition);

  @media (hover: hover) {
    &:hover {
      color: var(--primaryHover);
    }
  }
}

.formError {
  color: var(--failure);
  font-weight: var(--bold);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.noInteraction {
  pointer-events: none;
  user-select: none;
}
