.responsiveSidePadding {
  padding-right: var(--twentyFourPixels);
  padding-left: var(--twentyFourPixels);

  /* Tablet */
  @media (max-width: 1024px) {
    padding-right: var(--twentyPixels);
    padding-left: var(--twentyPixels);
  }

  /* Mobile */
  @media (max-width: 500px) {
    padding-right: var(--sixteenPixels);
    padding-left: var(--sixteenPixels);
  }
}

.titleText {
  font-size: var(--eighteenPixels);
  font-weight: var(--extraBold);
}

.caption {
  font-size: var(--twelvePixels);
  font-weight: var(--medium);
}

.captionEmphasis {
  font-size: var(--twelvePixels);
  font-weight: var(--bold);
}

.primaryLink {
  color: var(--primaryMain);
  font-weight: var(--bold);
  transition: var(--transition);

  @media (hover: hover) {
    &:hover {
      color: var(--primaryDarker);
    }
  }
}

.formError {
  color: var(--failure);
  font-weight: var(--bold);
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noInteraction {
  pointer-events: none;
  user-select: none;
}
