.titleText {
  font-size: var(--eighteenPixels);
  font-weight: var(--extraBold);
}

.caption {
  font-size: var(--twelvePixels);
  font-weight: var(--medium);
}

.captionEmphasis {
  font-size: var(--twelvePixels);
  font-weight: var(--bold);
}

.primaryLink {
  color: var(--peacockMain);
  transition: var(--transition);

  &:hover {
    color: var(--peacockDarker);
  }
}
