.lightTheme {
  --text: #262626;

  --themeOne: #ffffff;
  --themeTwo: #fafafa;
  --themeThree: #f5f5f5;
  --themeFour: #ebebeb;
  --themeFive: #e0e0e0;
  --themeSix: #c7c7c7;
  --themeSeven: #b8b8b8;
  --themeEight: #adadad;
  --themeNine: #858585;
  --themeTen: #707070;

  --peacockDarker: #29c0be;
  --peacockMain: #36d4d2;
  --peacockLighter: #52ebe9;

  --pending: #46759d;
  --success: #2cd379;
  --failure: #f34747;
  --warning: #f4bf58;

  --monthly: #e0b61f;
  --need: #4ec025;
  --planned: #348ee0;
  --impulse: #e77b18;
  --regret: #ce3574;

  --shadowOne: 0px 8px 16px 0px #ebebeb;
}

@mixin determineBackgroundLevel($backgroundLevel) {
  @if $backgroundLevel == two {
    background-color: var(--themeTwo);
  } @else if $backgroundLevel == three {
    background-color: var(--themeThree);
  } @else if $backgroundLevel == four {
    background-color: var(--themeFour);
  } @else if $backgroundLevel == five {
    background-color: var(--themeFive);
  } @else if $backgroundLevel == six {
    background-color: var(--themeSix);
  } @else if $backgroundLevel == seven {
    background-color: var(--themeSeven);
  } @else if $backgroundLevel == eight {
    background-color: var(--themeEight);
  } @else if $backgroundLevel == nine {
    background-color: var(--themeNine);
  } @else if $backgroundLevel == ten {
    background-color: var(--themeTen);
  } @else {
    background-color: var(--themeOne);
  }
}

.backgroundLevel {
  &.one {
    @include determineBackgroundLevel(one);
  }

  &.two {
    @include determineBackgroundLevel(two);
  }

  &.three {
    @include determineBackgroundLevel(three);
  }

  &.four {
    @include determineBackgroundLevel(four);
  }

  &.five {
    @include determineBackgroundLevel(five);
  }

  &.six {
    background-color: var(--themeSix);
  }

  &.seven {
    @include determineBackgroundLevel(seven);
  }

  &.eight {
    @include determineBackgroundLevel(eight);
  }

  &.nine {
    @include determineBackgroundLevel(nine);
  }

  &.ten {
    @include determineBackgroundLevel(ten);
  }
}

@mixin determineSelectedLevel($backgroundLevel) {
  @if $backgroundLevel == two {
    background-color: var(--themeThree);
  } @else if $backgroundLevel == three {
    background-color: var(--themeFour);
  } @else if $backgroundLevel == four {
    background-color: var(--themeFive);
  } @else if $backgroundLevel == five {
    background-color: var(--sixPixels);
  } @else if $backgroundLevel == six {
    background-color: var(--themeSeven);
  } @else if $backgroundLevel == seven {
    background-color: var(--eightPixels);
  } @else if $backgroundLevel == eight {
    background-color: var(--themeNine);
  } @else {
    background-color: var(--themeTen);
  }
}

.selectedLevel {
  &.two {
    @include determineSelectedLevel(two);
  }

  &.three {
    @include determineSelectedLevel(three);
  }

  &.four {
    @include determineSelectedLevel(four);
  }

  &.five {
    @include determineSelectedLevel(five);
  }

  &.six {
    @include determineSelectedLevel(six);
  }

  &.seven {
    @include determineSelectedLevel(seven);
  }

  &.eight {
    @include determineSelectedLevel(eight);
  }
}

@mixin determineActiveLevel($backgroundLevel) {
  @if $backgroundLevel == two {
    &:active {
      background-color: var(--themeFour) !important;
    }
  } @else if $backgroundLevel == three {
    &:active {
      background-color: var(--themeFive) !important;
    }
  } @else if $backgroundLevel == four {
    &:active {
      background-color: var(--themeSix) !important;
    }
  } @else if $backgroundLevel == five {
    &:active {
      background-color: var(--themeSeven) !important;
    }
  } @else if $backgroundLevel == six {
    &:active {
      background-color: var(--themeEight) !important;
    }
  } @else if $backgroundLevel == seven {
    &:active {
      background-color: var(--themeNine) !important;
    }
  } @else {
    &:active {
      background-color: var(--themeTen) !important;
    }
  }
}

.activeLevel {
  &.two {
    @include determineActiveLevel(two);
  }

  &.three {
    @include determineActiveLevel(three);
  }

  &.four {
    @include determineActiveLevel(four);
  }

  &.five {
    @include determineActiveLevel(five);
  }

  &.six {
    @include determineActiveLevel(six);
  }

  &.seven {
    @include determineActiveLevel(seven);
  }

  &.eight {
    @include determineActiveLevel(eight);
  }
}

@mixin determineHoverLevel($backgroundLevel) {
  @if $backgroundLevel == two {
    &:hover {
      background-color: var(--themeFive);
    }
  } @else if $backgroundLevel == three {
    &:hover {
      background-color: var(--themeSix);
    }
  } @else if $backgroundLevel == four {
    &:hover {
      background-color: var(--themeSeven);
    }
  } @else if $backgroundLevel == five {
    &:hover {
      background-color: var(--themeEight);
    }
  } @else if $backgroundLevel == six {
    &:hover {
      background-color: var(--themeNine);
    }
  } @else {
    &:hover {
      background-color: var(--themeTen);
    }
  }
}

.hoverLevel {
  &.two {
    @include determineHoverLevel(two);
  }

  &.three {
    @include determineHoverLevel(three);
  }

  &.four {
    @include determineHoverLevel(four);
  }

  &.five {
    @include determineHoverLevel(five);
  }

  &.six {
    @include determineHoverLevel(six);
  }

  &.seven {
    @include determineHoverLevel(seven);
  }
}
