.lightTheme {
  --text: #262626;

  --themeOne: #ffffff;
  --themeTwo: #fafafa;
  --themeThree: #f5f5f5;
  --themeFour: #ebebeb;
  --themeFive: #e0e0e0;
  --themeSix: #c7c7c7;
  --themeSeven: #b8b8b8;
  --themeEight: #adadad;
  --themeNine: #858585;
  --themeTen: #707070;

  --peacockDarker: #29c0be;
  --peacockMain: #36d4d2;
  --peacockLighter: #52ebe9;

  --pending: #46759d;
  --success: #2cd379;
  --failure: #f34747;
  --warning: #f4bf58;

  --monthly: #e0b61f;
  --need: #4ec025;
  --planned: #348ee0;
  --impulse: #e77b18;
  --regret: #ce3574;

  --shadowOne: 0px 8px 16px 0px #ebebeb;
}

@mixin determineBackgroundLevel($level) {
  @if $level == two {
    background-color: var(--themeTwo);
  } @else if $level == three {
    background-color: var(--themeThree);
  } @else if $level == four {
    background-color: var(--themeFour);
  } @else if $level == five {
    background-color: var(--themeFive);
  } @else if $level == six {
    background-color: var(--themeSix);
  } @else if $level == seven {
    background-color: var(--themeSeven);
  } @else if $level == eight {
    background-color: var(--themeEight);
  } @else if $level == nine {
    background-color: var(--themeNine);
  } @else if $level == ten {
    background-color: var(--themeTen);
  } @else {
    background-color: var(--themeOne);
  }
}

.backgroundLevel {
  &.one {
    @include determineBackgroundLevel(one);
  }

  &.two {
    @include determineBackgroundLevel(two);
  }

  &.three {
    @include determineBackgroundLevel(three);
  }

  &.four {
    @include determineBackgroundLevel(four);
  }

  &.five {
    @include determineBackgroundLevel(five);
  }

  &.six {
    background-color: var(--themeSix);
  }

  &.seven {
    @include determineBackgroundLevel(seven);
  }

  &.eight {
    @include determineBackgroundLevel(eight);
  }

  &.nine {
    @include determineBackgroundLevel(nine);
  }

  &.ten {
    @include determineBackgroundLevel(ten);
  }
}

@mixin determineHoverLevel($backgroundLevel) {
  @if $backgroundLevel == two {
    &:hover {
      background-color: var(--themeFive);
    }
  } @else if $backgroundLevel == three {
    &:hover {
      background-color: var(--themeSix);
    }
  } @else if $backgroundLevel == four {
    &:hover {
      background-color: var(--themeSeven);
    }
  } @else if $backgroundLevel == five {
    &:hover {
      background-color: var(--themeEight);
    }
  } @else if $backgroundLevel == six {
    &:hover {
      background-color: var(--themeNine);
    }
  } @else {
    &:hover {
      background-color: var(--themeTen);
    }
  }
}

.hoverLevel {
  &.two {
    @include determineHoverLevel(two);
  }

  &.three {
    @include determineHoverLevel(three);
  }

  &.four {
    @include determineHoverLevel(four);
  }

  &.five {
    @include determineHoverLevel(five);
  }

  &.six {
    @include determineHoverLevel(six);
  }

  &.seven {
    @include determineHoverLevel(seven);
  }
}
