.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--thirtyTwoPixels);
  width: 100%;
  max-width: 25rem;
}
