.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.body {
  position: relative;
  height: 100%;
}

.scrollContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: var(--sixteenPixels);
}

.mainContent {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: var(--sixteenPixels) 0rem;
  overflow-y: auto;

  @media (max-width: 1564px) {
    justify-content: flex-start;
  }

  @media (max-width: 880px) {
    justify-content: center;
  }
}

.overviewSpacer {
  min-width: var(--fiveHundredPixels);

  @media (max-width: 1564px) {
    display: none;
  }
}
