.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.body {
  position: relative;
  height: 100%;
}

.scrollContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: var(--sixteenPixels);
}

.mainContent {
  flex: 1;
  padding: var(--sixteenPixels) 0rem;
  overflow-y: auto;
}

.overviewSpacer {
  min-width: var(--fiveHundredPixels);

  // @media (max-width: 1564px) {
  //   display: none;
  // }
}
