.container {
  display: flex;
  flex-direction: column;
  border: var(--themeFour) solid 1px;
  border-radius: 12px;
  transition: var(--transition);

  &.open {
    border: var(--themeEight) solid 1px;
  }
}

.header {
  background-color: var(--themeOne);
  border-bottom: var(--themeFour) solid 1px;

  @media (hover: hover) {
    &:hover {
      background-color: var(--themeTwo);
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--twelvePixels);
  padding: var(--twelvePixels);

  &.hide {
    display: none;
  }
}

.purchases {
  display: flex;
  flex-direction: column;
  gap: var(--fourPixels);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--eightPixels);
}
