.container {
  display: flex;
  flex-direction: column;
  gap: var(--twelvePixels);
  padding: var(--sixteenPixels);
  border-bottom: var(--themeFour) solid 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--sixteenPixels);
}

.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.caption {
  color: var(--themeTen);
}
