.container {
  display: flex;
  flex-direction: column;
  gap: var(--twelvePixels);
  padding: var(--sixteenPixels);
  border-bottom: var(--themeFour) solid 1px;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--text);
  font-size: var(--sixteenPixels);
  font-weight: var(--extraBold);
}

.saving {
  color: var(--themeTen);
}

.calculation {
  color: var(--primaryMain);
  font-weight: var(--bold);
}

.overviewCells {
  display: flex;
  flex-direction: column;
  gap: var(--fourPixels);
}

.overviewCell {
  display: flex;
  align-items: center;
  gap: var(--eightPixels);
  padding: var(--sixPixels) var(--eightPixels);
  background-color: var(--themeTwo);
  border-radius: 12px;

  &.totalSpent {
    font-weight: bold;
  }

  &.remaining {
    font-weight: bold;
    color: var(--primaryMain);
  }
}
