.container {
  display: flex;
  flex-direction: column;
  gap: var(--twelvePixels);
  padding: var(--sixteenPixels);
}

.entryDropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--twelvePixels);
  padding: var(--eightPixels) var(--twelvePixels);
  font-size: var(--sixteenPixels);
}

.totalCost {
  font-weight: var(--extraBold);
}
