.container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: var(--fourHundredPixels);
  background-color: var(--themeOne);
  border-right: var(--themeFour) solid 1px;

  &.hide {
    display: none;
  }
}
