.size {
  display: flex;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;

  &.default {
    gap: var(--sixteenPixels);
    height: var(--fortyPixels);
    padding: 0rem var(--sixteenPixels);
  }

  &.mini {
    gap: var(--eightPixels);
    height: auto;
    padding: var(--fourPixels) var(--eightPixels);
  }
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: var(--fourteenPixels);
  outline: none;
  cursor: pointer;

  &::placeholder {
    color: var(--themeTen);
    font-style: italic;
  }
}
