.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--eightPixels) var(--sixteenPixels);
  border-bottom: var(--themeFour) solid 1px;
}

.links {
  display: flex;
  gap: var(--sixteenPixels);
}

.dashboardNavigation {
  display: flex;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--fortyPixels);
  height: var(--fortyPixels);
  border-radius: var(--twelvePixels);
  transition: var(--transition);
}
