.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--eightPixels);
  padding-bottom: var(--eightPixels);
  border-bottom: var(--themeFour) solid 1px;
}

.links {
  display: flex;
  gap: var(--sixteenPixels);
}

.dashboardNavigation {
  display: flex;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--fortyPixels);
  height: var(--fortyPixels);
  border-radius: 12px;
  transition: var(--transition);
}
