.container {
  display: flex;
  align-items: center;
  gap: var(--eightPixels);
  padding: var(--sixPixels) var(--eightPixels);
}

.categoryButtons {
  display: flex;
  align-items: center;
  gap: var(--fourPixels);
}
