.container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: var(--sixPixels);
  background-color: var(--themeTwo);
  overflow: hidden;
}

.settingsNavigation {
  display: none;
  gap: var(--sixteenPixels);
  padding: var(--sixteenPixels);
  background-color: var(--themeThree);

  &.show {
    display: flex;
  }

  @media (max-width: 400px) {
    flex-direction: column;
    gap: var(--fourPixels);
  }
}
