.container {
  display: flex;
  flex-direction: column;
  gap: var(--eightPixels);
  width: var(--fiveHundredPixels);
  padding: var(--sixteenPixels) 0rem;
  overflow-y: auto;

  @media (max-width: 880px) {
    display: none;
  }
}
