.container {
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  overflow: hidden;

  &.opened {
    border: var(--themeEight) solid 1px;
  }

  &.closed {
    border: var(--themeFour) solid 1px;
  }

  &.shadow {
    box-shadow: var(--shadowOne);
  }
}

.purchases {
  display: flex;
  flex-direction: column;
  gap: var(--eightPixels);
  padding: var(--sixteenPixels);
  background-color: var(--themeOne);
  transform-origin: top;
  transition: var(--transition);
  overflow-y: auto;

  &.closed {
    display: none;
  }
}
