.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--sixPixels);
  background-color: var(--themeTwo);
  box-shadow: var(--shadowOne);
}

.settingsNavigation {
  display: flex;
  gap: var(--sixteenPixels);
  padding: var(--sixteenPixels);
  background-color: var(--themeThree);
}
