.container {
  display: flex;
  align-items: center;
  gap: var(--eightPixels);
  padding: var(--sixteenPixels);
  transition: var(--transition);
  cursor: pointer;
}

.titleAndTotal {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title {
  color: var(--text);
  font-size: var(--sixteenPixels);
  font-weight: var(--extraBold);
}

.totalCost {
  color: var(--primary);
  font-size: var(--fourteenPixels);
  font-weight: var(--bold);
}

.buttons {
  display: flex;
  align-items: flex-start;
}
