.container {
  display: flex;
  flex-direction: column;
  gap: var(--eightPixels);
  padding: var(--sixteenPixels);
  transition: var(--transition);
  cursor: pointer;
}

.titleTotalAndButtons {
  display: flex;
  gap: var(--sixteenPixels);
}

.titleAndTotal {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--fourPixels);
}

.title {
  color: var(--text);
  font-size: var(--sixteenPixels);
  font-weight: var(--extraBold);
}

.totalCost {
  color: var(--themeTen);
  font-weight: var(--bold);
}

.low {
  color: var(--hpLow);
}

.moderate {
  color: var(--hpModerate);
}

.high {
  color: var(--hpHigh);
}

.excellent {
  color: var(--hpExcellent);
}

.buttons {
  display: flex;
  align-items: flex-start;
}
