.container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: var(--sixteenPixels);
  width: 100%;
  max-width: var(--sixHundredPixels);
  margin: var(--sixteenPixels) auto;
  padding: var(--sixteenPixels);
  border-radius: var(--sixPixels);
  box-shadow: var(--shadowOne);

  @media (max-width: 880px) {
    max-width: 100%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
}
