.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--twelvePixels);
  padding-bottom: var(--twelvePixels);
  background-color: transparent;
  border-bottom: var(--themeFour) solid 1px;
}

.overviewToggleButton {
  display: none;
  flex-shrink: 0;

  @media (max-width: 1564px) {
    display: block;
  }
}

.navigationLinks {
  display: flex;
}
