.container {
  width: 16.25rem;
  height: 100%;
  background-color: var(--themeOne);
  border-right: var(--themeFour) solid 1px;
}

.header {
  padding: var(--sixteenPixels);
  border-bottom: var(--themeFour) solid 1px;
}

.caption {
  color: var(--themeTen);
}

.navigation {
  padding: var(--sixteenPixels);
}
