.container {
  display: flex;
  align-items: center;
  gap: var(--twelvePixels);
  padding: var(--eightPixels);
}

.inputs {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: var(--eightPixels);
}
