.container {
  display: flex;
  align-items: center;
  gap: var(--twelvePixels);
  padding: var(--eightPixels);
}

.inputs {
  display: flex;
  flex: 1;
  align-items: flex-end;
  gap: var(--eightPixels);

  @media (max-width: 400px) {
    flex-direction: column;
    gap: var(--fourPixels);
  }
}
