.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--sixPixels);
  overflow: hidden;

  &.opened {
    border: var(--themeEight) solid 1px;
  }

  &.closed {
    border: var(--themeFour) solid 1px;
  }
}
