.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: var(--sixteenPixels);
  background-color: var(--overlay);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--sixteenPixels);
  width: 100%;
  padding: var(--sixteenPixels);
  background-color: var(--themeOne);
  border-radius: 6px;
  box-shadow: var(--shadowOverlay);
}

.header {
  display: flex;
  align-items: flex-start;
  gap: var(--sixteenPixels);
}

.copies {
  display: flex;
  flex-direction: column;
  gap: var(--fourPixels);
  width: 100%;
}

.buttons {
  display: flex;
  gap: var(--fourPixels);
}

.caption {
  font-size: var(--sixteenPixels);
  font-weight: var(--medium);
}
