.container {
  display: flex;
  flex-direction: column;
  gap: var(--eightPixels);
  padding: var(--twelvePixels) var(--sixteenPixels);
  border: transparent solid 1px;
  border-radius: var(--fourPixels);
  transition: var(--transition);
  cursor: pointer;

  &.error {
    border: var(--failure) solid 1px;
  }
}

.placeholderAndError {
  display: flex;
  flex-direction: column;
  font-size: var(--twelvePixels);
  font-weight: var(--bold);
}

.placeholder {
  color: var(--themeTen);
}

.error {
  color: var(--failure);
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: var(--sixteenPixels);
}

.input {
  width: 100%;
  color: var(--text);
  background-color: transparent;
  border: none;
  font-size: var(--fourteenPixels);
  font-weight: var(--medium);
  outline: none;
  cursor: pointer;

  ::placeholder {
    color: var(--themeEight);
  }
}
