.container {
  display: flex;
  flex-direction: column;
  gap: var(--eightPixels);
  padding: var(--twelvePixels) var(--sixteenPixels);
  border: var(--themeFive) solid 1px;
  border-radius: var(--fourPixels);
}

.text {
  color: var(--text);
  font-size: var(--twelvePixels);
  font-weight: var(--bold);
}

.progressBar {
  position: relative;
  height: 4px;
  background-color: var(--themeFive);
  border-radius: 999px;
  overflow: hidden;
}

.progression {
  transition: var(--transition);
  border-radius: 999px;

  &.weak {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--hpLow);
  }

  &.moderate {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--hpModerate);
  }

  &.strong {
    position: absolute;
    width: 75%;
    height: 100%;
    background-color: var(--hpHigh);
  }

  &.excellent {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--hpExcellent);
  }
}
