.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: var(--twelvePixels);

  &.transparent {
    background-color: transparent;
  }

  &.primary {
    background-color: var(--primary);

    @media (hover: hover) {
      &:hover {
        background-color: var(--primaryHover);
      }
    }
  }
}
