.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--zIndexLoading);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--fourPixels);
  background-color: var(--themeOne);

  &.transparent {
    background-color: var(--overlay);
  }
}

.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ring {
  position: absolute;
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-color: #fff transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  &.ringOne {
    animation-delay: -0.45s;
  }

  &.ringTwo {
    animation-delay: -0.3s;
  }

  &.ringThree {
    animation-delay: -0.15s;
  }
}
