.section {
  position: absolute;
  top: var(--sixteenPixels);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: var(--sixteenPixels);
  width: 100%;
  max-width: var(--thousandPixels);
  padding: var(--sixteenPixels);
  background-color: var(--themeOne);
  border-radius: 12px;
  transition: var(--transition);
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      background-color: var(--themeTwo);
    }
  }

  &.default {
    border: transparent solid 2px;
  }

  &.success {
    border: var(--success) solid 2px;
  }

  &.failure {
    border: var(--failure) solid 2px;
  }

  &.pending {
    border: var(--pending) solid 2px;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  width: 100%;
}
